<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
    To create/update encrypted configuration section:
    1. create file web.config using sample below and provide a correct password
    
    <authentication>
      <authentication_keys>
        <add name="typefi" username="username" password="password" />
      </authentication_keys>
    </authentication>

    2. Copy file to corresponding deployment environment and encrypt using the command (run as administrator): C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regiis -pef authentication C:\encrypted_configurations
    
    3. Copy the encrypted file into the desired destination
    
    4. Don't forget to add xdt:Transform="Replace" for the section authentication!
    
    5. Don't forget to uncomment the configSection entry for "authentication" section! http://stackoverflow.com/questions/3504883/encrypting-custom-sections-of-a-web-config This is just a complete wtf :D
    -->
  <configSections>
    <section name="authentication" type="SpartanExtensions.Configuration.AuthenticationSection.AuthenticationSection, SpartanExtensions"/>
  </configSections>
  <authentication configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Vdm62HpHjmbNfiMbk5zbC1EIcnn05h/JipFYAvXq54w/6KeIf+bdlmDkov6v0cRfJmvOck5CZKPA5OfCwzdqmRTSMPrbn8WmKku71LKFBG7V9/ondNy3cvexCpsQQXBayD2ohiCP9NsCjeAfy0hiNChGxucrOpr92+xDm72A3PE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Bm5aJTQbNx5x+jrSXFKlmFuMJfurS1SRnN1sh8vctvO+TzErHZq6stc0922Uea5mxwuiN6FgAJbuIUJT4lJ9feJhT8v4ywhXY7r/D+gqOo3G9LRDXFWYA8YJomWpDvXfXKKmNzXkBV76OGLGNUEQbFP9lAoJ0uqSaCbqMIjekbJJxZSgNCikiXAnxGTEuTiDF6XTCVLRciiWk43OLJn65fgk92tWt9i38PtqcAzQoGs=</CipherValue>
      </CipherData>
    </EncryptedData>
  </authentication>
</configuration>