<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
    To create/update encrypted configuration section:
    1. create file web.config using sample below and provide a correct password
    
    <authentication>
      <authentication_keys>
        <add name="typefi" username="username" password="password" />
      </authentication_keys>
    </authentication>

    2. Copy file to corresponding deployment environment and encrypt using the command (run as administrator): C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regiis -pef authentication C:\encrypted_configurations
    
    3. Copy the encrypted file into the desired destination
    
    4. Don't forget to add xdt:Transform="Replace" for the section authentication!
    
    5. Don't forget to uncomment the configSection entry for "authentication" section! http://stackoverflow.com/questions/3504883/encrypting-custom-sections-of-a-web-config This is just a complete wtf :D
    -->
  <configSections>
    <!--<section name="authentication" type="SpartanExtensions.Configuration.AuthenticationSection.AuthenticationSection, SpartanExtensions"/>-->
  </configSections>
  <authentication>
    <authentication_keys>
      <add name="typefi" username="username" password="password" />
    </authentication_keys>
  </authentication>
</configuration>